@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--color-primary);
    box-shadow: 0px 5px 5px 0px var(--color-dark);
    padding: 20px 25px;
    max-width: 300px;
}

.title{
    text-align: center;
    color: var(--color-dark);
    font-size: 25px;
    font-family: var(--font-press-start);
}

.image{
    margin-top: 20px;
}

.description{
    margin-top: 5px;
    font-size: 20px;
}

.links{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: var(--color-dark);
    font-size: 30px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 2px 10px;
}