@import "../../vars.css";

.container{
    padding: 20px;
    text-align: center;
}

.image{
    height: 50px;
    width: 70px;
    object-fit: contain;
    margin-bottom: 15px;
}

.title{
    width: 100px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-dark);
    font-size: 20px;
}

@media screen and (max-width: 830px){
    .container{
        align-items: left;
    }
}