:root {
    --color-text: #F8C7CC;
    --color-primary: #57886C;
    --color-secondary: #81A684;
    --color-dark: #0E0F19;
    --color-bg: #466060;

    --font-quicksand: "Quicksand";
    --font-press-start: "Press Start 2P";
    
}